.DS_Store
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# dependencies
/server/node_modules
/client/translationsmanagement/node_modules
/node_modules
/client/translationsmanagement/build
/client/translationsmanagement/config
/client/translationsmanagement/coverage

